.addToDo-btn {
  position: relative;
  top: 68px;
}
.addToDo-btn p button {
  border: 1px solid #eee;
  box-shadow: 0 1px 1px #ccc;
  padding: 6px;
  background-color: white;
}
.todo-list {
  position: relative;
  top: 100px;
}
.todo-list .show-todo {
  position: relative;
  top: 100px;
}
ul li {
  list-style-type: none;
  top: 30px;
}
.sortTodo {
  position: relative;
  float: left;
  margin-left: 15px;
}
.date {
  position: relative;
  top: 72px;
  margin: 0 auto;
}
.date input {
  border: 1px solid #eee;
  box-shadow: 0 1px 1px #ccc;
  padding: 4px;
}
.addToDo-btn button,
.date input {
  display: block;
  margin: 0 auto;
}
