nav.menu ul li {
  /* padding: 8px 0; */
  line-height: 32px;
  border-bottom: 1px solid #bdc3c7;
  /* border-bottom: 2px solid transparent; */
  text-align: center;
  background-color: #fff;
  transition: background-color 0.3s;
}

nav.menu ul li:hover,
nav.menu ul li:active {
  background-color: orange;
  /* border-bottom: 2px solid orange; */
}

nav.menu ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

nav.menu ul li a:hover,
nav.menu ul li a:active {
  text-decoration: none;
  box-sizing: border-box;
  /* color: #000; */
}

@media (max-width: 736px) {
  nav.menu ul li,
  nav.menu ul li a {
    font-size: 8px;
  }
}

/* .NavigationItem:hover,
.NavigationItem a:hover {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: #555;
}
.NavigationItem a {
  color: black;
} */
