.Calendar {
  margin-top: 16px;
  margin-right: 16px;
  border: 1px solid #bdc3c7;
}

.Calendar table {
  border-collapse: collapse;
  border: 1px solid #bdc3c7;
  width: 100%;
}

.Calendar table td {
  border: 1px solid #bdc3c7;
}

.Calendar table td.active {
  background-color: #bdc3c7;
}

.Calendar table td:active,
.Calendar table td:hover {
  background-color: #bdc3c7;
}

.Calendar div button {
  width: 50%;
  margin: 8px 0;
}

.Calendar div.btn {
  margin: 0;
  border-bottom: 1px solid #bdc3c7;
}

.Calendar div.btn button {
  background-color: #fff;
  border: 1px solid #e1f0fa;
  border-radius: 2px;
}

.Calendar div.jump {
  margin: 8px 0;
}
