/* COMMON */

html, body {
  width: 100%;
  height: 100%;
}
body,h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}
body,h1,h2,h3,h4,h5,h6,input,select,textarea,button,th,td {
  /*font-family: 'Malgun Gothic', sans-serif;*/
  font-size: 12px;
  color: #555;
}

/* TABLE */

table caption {
  text-indent: -9999px;
}

th, td {
  margin: 10px;
  padding: 5px;
  border: 1px solid #E5E5E5;
}

td input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

/* ... */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



