html, body, * {
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,body,span,table,caption,td,th,button {
  font-size: 12px;
  color: #555;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



